#content_inner {
    width: 84em;
    margin: auto;
    padding-top: 0;
}
ul#work_filter {
margin: 30px 0 20px 0;
}

#work_filter li a, .pagination li a {
text-decoration: none;
color: #27292a;
font-size: 100%;
font-weight: 200;
letter-spacing: 1px;
}

#work_filter li a:hover, .pagination li a:hover {
color: #000;
font-weight: 400;
}

#work_filter li a.active, .pagination li a.active {
font-weight: 400;
}

#work_filter li, .pagination li {
display: inline-flex;
margin: 0 0px 0 50px;
}

.pagination {
text-align: right;
margin-top: 20px;
}
.fourths_portfolio {
width: 220px;
height: 220px;
margin: 0 10px 20px 10px;
background-color: #e66e0d;
float: left;
position: relative;
}

.fourths_portfolio a {
display: block;
width: 220px;
height: 220px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.fourths_portfolio a:hover {
opacity: 0.15;
}

.fourths_portfolio h4 {
position: absolute;
top: 80px;
display: block;
width: 220px;
text-align: center;
text-shadow: 0px 1px #d72d05;
}

.fourths_portfolio img {
position: absolute;
}

.fourths_portfolio span {
font-size: 90%;
font-weight: 200;
text-shadow: 0px 1px #b70d02;
}
hr.cleanit {
    visibility: hidden;
    clear: both;
    margin-bottom: 20px;
}

div.cara {
    clear: both;
    width: 100em;
    height: 10px;
    background-color: #cccccc;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

p.textit {
    font-size: 115%;
    font-weight: 400;
    line-height: 150%;
    width: 940px;
    margin: 50px 0 0 10px;
    padding-bottom: 50px;
}

h1.textit{
  font-size: 115%;
  font-weight: 400;
  line-height: 150%;
  width: 940px;

}
