div {
	height: 200px;
	width: 200px;
	/*margin: 1px;*/
	position: absolute;
}
.red {
	background-color: red;
	top: 408px;
	left: 408px;
}
.blue {
	background-color: blue;
	top: 208px;
	left: 208px;
}
.green {
	background-color: green;
}