a {
	text-decoration: none;
	cursor: pointer;
	color: #1000ff96;
}

body {
	background-color: gray;
	background-repeat: repeat;
	background-image: url("background.jpg");
	background-position: top;
	background-size: 10%;
	color: #ffffffb8;

}

h1, h2, h3, h4, h5, h6 {
	color: white;
}

.content {
	max-width: 1000px;
	margin: auto;
}

dl {
	font-family: arial;
	border: 1px solid;
	border-radius: 5px;
	padding: 20px;
	width: 300px;
}

dt {
	font-weight: bold;
}

dd {
	font-style: italic;
}

select {
	color: white;
	font-size: 20px;
	padding: 5px;
	border-style: dashed;
	background-color: #0808089e;
}

.someClass {
	width: 100px;
	height: 100px;
	background-color: red;
}

#code {
	background-color: #ffffff4d; 
	border-radius: 0px 10px 10px 0px; 
	border-left: #0635834d 10px solid;
	padding: 20px; 
	color: #1e1e1e;
}

code {
	font-family: Consolas;
}

.rate {
	border: 1px solid; 
	border-radius: 10px;
	padding: 10px;
	position: fixed;
	bottom: 0;
  	right: 0;
  	background-color: #0808089e;
}

.done {
	color: green;
	text-decoration: line-through;
}

.undone {
	color: red;
}

input {
	padding: 3px;
}

input[type=button] {
	border: 2px solid black;
	border-radius: 5px;
	background-color: #898181ba;
	padding: 5px;

}

input[type=text], input[type=date]{
	background-color: #0808089e;
	border: #81818147;
	color: gray;
	margin: 10px;

}

audio {
	width: 90%;
	height: 30px;
}

audio::-webkit-media-controls-panel{
	background-color:#0808089e !important;

}

.form-group {
	position: relative;
	float: left;
	margin-left: 20px;
}

textarea {
	overflow-y: hidden; /* Hide vertical scrollbar */
	overflow-x: hidden; /* Hide horizontal scrollbar */
	background-color: #08080800;
	border: none;
	color: #a9a9a914;

}

.photo {
	border-style: dashed;
	border-color: #898181ba;
	padding: 10px;
}