<!-- ##### Instagram Area Start ##### -->
<div class="follow-us-instagram">
<div class="instagram-content d-flex flex-wrap align-items-center">
<!-- Single Instagram Slide -->
<div class="single-instagram">
  <img src="img/blog-img/sport.jpg" alt="">
  <a href="#"><i class="fa fa-instagram"></i></a>
</div>
<!-- Single Instagram Slide -->
<div class="single-instagram">
  <img src="img/blog-img/medicine.jpg" alt="">
  <a href="#"><i class="fa fa-instagram"></i></a>
</div>
<!-- Single Instagram Slide -->
<div class="single-instagram">
  <img src="img/blog-img/education.jpg" alt="">
  <a href="#"><i class="fa fa-instagram"></i></a>
</div>
<!-- Single Instagram Slide -->
<div class="single-instagram">
  <img src="img/blog-img/travel.jpg" alt="">
  <a href="#"><i class="fa fa-instagram"></i></a>
</div>
<!-- Single Instagram Slide -->
<div class="single-instagram">
  <img src="img/blog-img/food.jpg" alt="">
  <a href="#"><i class="fa fa-instagram"></i></a>
</div>
<!-- Single Instagram Slide -->
<div class="single-instagram">
  <img src="img/blog-img/4.jpg" alt="">
  <a href="#"><i class="fa fa-instagram"></i></a>
</div>
<!-- Single Instagram Slide -->
<div class="single-instagram">
  <img src="img/blog-img/sport.jpg" alt="">
  <a href="#"><i class="fa fa-instagram"></i></a>
</div>
<!-- Single Instagram Slide -->
<div class="single-instagram">
  <img src="img/blog-img/medicine.jpg" alt="">
  <a href="#"><i class="fa fa-instagram"></i></a>
</div>
</div>
</div>
<!-- ##### Instagram Area End ##### -->
<footer class="footer-area">
<div class="container">
<div class="row">
  <div class="col-12">
    <!-- Footer Social Info -->
    <div class="footer-social-info d-flex align-items-center justify-content-between">
      <a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
      <a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>
      <a href="#"><i class="fa fa-google-plus"></i><span>Google +</span></a>
      <a href="#"><i class="fa fa-linkedin"></i><span>linkedin</span></a>
      <a href="#"><i class="fa fa-instagram"></i><span>Instagram</span></a>
      <a href="#"><i class="fa fa-vimeo"></i><span>Vimeo</span></a>
      <a href="#"><i class="fa fa-youtube"></i><span>Youtube</span></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="copywrite-text">
      <p></p>
    </div>
  </div>
</div>
</div>
</footer>
<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>
</body>
</html>