<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>NAY news</title>
    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
      <!-- Navbar Area -->
      <div class="nikki-main-menu">
        <div class="classy-nav-container breakpoint-off">
          <div class="container-fluid">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="nikkiNav">
              <!-- Nav brand -->
              <a href="/" class="nav-brand"><img src="img/core-img/logo.png" alt=""></a>
              <!-- Navbar Toggler -->
              <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
              </div>
              <!-- Menu -->
              <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                  <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                  <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Pages</a>
                    <ul class="dropdown">
                      <li><a href="/">Home</a></li>
                      <li><a href="/single-post">Your Post</a></li>
                      <li><a href="/about-us">About</a></li>
                      <li><a href="/contact">Contact</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Catagories</a>
                  <div class="dropdown">
                    <ul class="single-mega cn-col-4">
                      <li><a href="/cat-medicine">- Medicine</a></li>
                      <li><a href="/cat-food">- Food</a></li>
                      <li><a href="/cat-travel">- Travel</a></li>
                      <li><a href="/cat-education">- Education</a></li>
                      <li><a href="/cat-politics">- Politics</a></li>
                      <li><a href="/cat-sport">- Sport</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="/about-us">About</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
              <!-- Search Form -->
              <div class="search-form">
                <form action="#" method="get">
                  <input type="search" name="search" class="form-control" placeholder="Search and hit enter...">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
              <!-- Social Button -->
              <div class="top-social-info">
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="RSS Feed"><i class="fa fa-rss" aria-hidden="true"></i></a>
              </div>
            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ##### Header Area End ##### -->