<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>NAY News</title>
    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
      <!-- Navbar Area -->
      <div class="nikki-main-menu">
        <div class="classy-nav-container breakpoint-off">
          <div class="container-fluid">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="nikkiNav">
              <!-- Nav brand -->
              <a href="/" class="nav-brand"><img src="img/core-img/logo.png" alt=""></a>
              <!-- Navbar Toggler -->
              <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
              </div>
              <!-- Menu -->
              <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                  <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                  <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Pages</a>
                    <ul class="dropdown">
                      <li><a href="/">Home</a></li>
                      <li><a href="single-post.html">Your Post</a></li>
                      <li><a href="about-us.html">About</a></li>
                      <li><a href="contact.html">Contact</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Catagories</a>
                  <div class="dropdown">
                    <ul class="single-mega cn-col-4">
                      <li><a href="/cat-mrdicine">- Medicine</a></li>
                      <li><a href="/cat-food">- Food</a></li>
                      <li><a href="/cat-travel">- Travel</a></li>
                      <li><a href="/cat-education">- Education</a></li>
                      <li><a href="/cat-politics">- Politics</a></li>
                      <li><a href="/cat-sport">- Sport</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="about-us.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
              <!-- Search Form -->
              <div class="search-form">
                <form action="#" method="get">
                  <input type="search" name="search" class="form-control" placeholder="Search and hit enter...">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
              <!-- Social Button -->
              <div class="top-social-info">
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="RSS Feed"><i class="fa fa-rss" aria-hidden="true"></i></a>
              </div>
            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ##### Header Area End ##### -->
<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Your Post</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Blog Content Area Start ##### -->
<section class="blog-content-area section-padding-0-100">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Blog Posts Area -->
      <div class="col-12">
        <!-- Post Details Area -->
        <div class="single-post-details-area">
          <div class="post-content">
            <div class="text-center mb-50">
              <h1 class="post-title" style="color: red"><%=message%></h1>
              <p class="post-date">NAY NEWS</p>
              <h2 class="post-title">Share an interesting fact or news. We will post it on our website</h2>
            </div>
            <!-- Post Thumbnail -->
            <div class="post-thumbnail mb-50">
              <img src="img/blog-img/post.jpg" alt="">
            </div>
            <div class="leave-comment-area clearfix">
              <div class="comment-form">
                <h4 class="headline">Leave A Post</h4>
                <!-- Post Form -->
                <form action="/single-post" method="post">
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <input type="text" class="form-control" name="title" placeholder="Title" required="required">
                        <select name="category" class="form-control" required>
                          <option selected disabled>Category</option>
                          <option value="medicine">medicine</option>
                          <option value="food">food</option>
                          <option value="travel">travel</option>
                          <option value="education">education</option>
                          <option value="politics">politics</option>
                          <option value="sport">sport</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" required="required">
                        <input type="text" class="form-control" name="author" placeholder="FullName" required="required">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <textarea class="form-control" name="content" cols="30" rows="10" placeholder="Post" required></textarea>
                      </div>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn nikki-btn">Send</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- Headline -->
            <br>
            <br>
            <br>
            <h4 class="headline">Example posts</h4>
            <div class="row">
              <!-- Single Blog Post -->
              <div class="col-12 col-lg-6">
                <div class="single-blog-post mb-50">
                  <!-- Thumbnail -->
                  <div class="post-thumbnail">
                    <a href="#"><img src="img/blog-img/medicine.jpg" alt=""></a>
                  </div>
                  <!-- Content -->
                  <div class="post-content">
                    <p class="post-date">Example1</p>
                    <a href="#" class="post-title">
                      <h4>New anti-record for the number of deaths from COVID-19 recorded in India</h4>
                    </a>
                    <p class="post-excerpt">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
                  </div>
                </div>
              </div>
              <!-- Single Blog Post -->
              <div class="col-12 col-lg-6">
                <div class="single-blog-post mb-50">
                  <!-- Thumbnail -->
                  <div class="post-thumbnail">
                    <a href="#"><img src="img/blog-img/4.jpg" alt=""></a>
                  </div>
                  <!-- Content -->
                  <div class="post-content">
                    <p class="post-date">Example2</p>
                    <a href="#" class="post-title">
                      <h4>Robin Hoods vs Musk: what will turn out to be the war of Anonymous with the founder of SpaceX</h4>
                    </a>
                    <p class="post-excerpt">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
<!-- ##### Blog Content Area End ##### -->
<!-- ##### Instagram Area Start ##### -->
<div class="follow-us-instagram">
<div class="instagram-content d-flex flex-wrap align-items-center">
<!-- Single Instagram Slide -->
<div class="single-instagram">
  <img src="img/blog-img/sport.jpg" alt="">
  <a href="#"><i class="fa fa-instagram"></i></a>
</div>
<!-- Single Instagram Slide -->
<div class="single-instagram">
  <img src="img/blog-img/medicine.jpg" alt="">
  <a href="#"><i class="fa fa-instagram"></i></a>
</div>
<!-- Single Instagram Slide -->
<div class="single-instagram">
  <img src="img/blog-img/education.jpg" alt="">
  <a href="#"><i class="fa fa-instagram"></i></a>
</div>
<!-- Single Instagram Slide -->
<div class="single-instagram">
  <img src="img/blog-img/travel.jpg" alt="">
  <a href="#"><i class="fa fa-instagram"></i></a>
</div>
<!-- Single Instagram Slide -->
<div class="single-instagram">
  <img src="img/blog-img/food.jpg" alt="">
  <a href="#"><i class="fa fa-instagram"></i></a>
</div>
<!-- Single Instagram Slide -->
<div class="single-instagram">
  <img src="img/blog-img/4.jpg" alt="">
  <a href="#"><i class="fa fa-instagram"></i></a>
</div>
<!-- Single Instagram Slide -->
<div class="single-instagram">
  <img src="img/blog-img/sport.jpg" alt="">
  <a href="#"><i class="fa fa-instagram"></i></a>
</div>
<!-- Single Instagram Slide -->
<div class="single-instagram">
  <img src="img/blog-img/medicine.jpg" alt="">
  <a href="#"><i class="fa fa-instagram"></i></a>
</div>
</div>
</div>
<!-- ##### Instagram Area End ##### -->
<footer class="footer-area">
<div class="container">
<div class="row">
  <div class="col-12">
    <!-- Footer Social Info -->
    <div class="footer-social-info d-flex align-items-center justify-content-between">
      <a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
      <a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>
      <a href="#"><i class="fa fa-google-plus"></i><span>Google +</span></a>
      <a href="#"><i class="fa fa-linkedin"></i><span>linkedin</span></a>
      <a href="#"><i class="fa fa-instagram"></i><span>Instagram</span></a>
      <a href="#"><i class="fa fa-vimeo"></i><span>Vimeo</span></a>
      <a href="#"><i class="fa fa-youtube"></i><span>Youtube</span></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="copywrite-text">
      <p></p>
    </div>
  </div>
</div>
</div>
</footer>
<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>
</body>
</html>
